:root {
  --theme-color-light: #3d5afe;
  --theme-color: #364fe1;
  --theme-color-dark: #2039c8;
  font-family: sans-serif; 
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  background-color: var(--theme-color-light);
  color: white;
}

nav > span.title {
  font-size: 1.5rem;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}

nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0;
  margin-right: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--theme-color-dark);
  transition: background-color 0.2s;
  cursor: pointer;
}

nav > ul > li:hover {
  background-color: var(--theme-color);
}

nav > ul > li:active {
  background-color: var(--theme-color-dark);
}

nav > ul > li > a {
  color: white;
  text-decoration: none;
}

#file {
  display: none;
}

.dropzone-container {
  margin: 2rem;
  margin-top: 6rem;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.dropzone {
  border: none;
  padding: 2rem;
  border-radius: 10px;
  font-family: Arial;
  cursor: pointer;
  text-align: center;
  font-size: 0.8rem;
}

.dropzone::after {
  content: "Drag and drop or select a file";
}

.fileover {
  border-style: dashed;
}

.fileover::after {
  font-size: 1.2rem;
  content: "Drop file here";
}


.dataURL {
  border: 1px solid lightgray;
  padding: 2rem;
  padding-bottom: .1rem;
  margin: 2rem;
  border-radius: 10px;
  overflow: auto;
}

.dataURL::after {
  content: "";
  clear: both;
  display: table;
}

.dataURL > .url {
  text-align: center;
  word-wrap: break-word;
  font-family: JetBrains Mono, monospace;
  max-height: 300px;
  overflow-y: auto;
}

button {
  background-color: var(--theme-color-light);
  border: none;
  color: white;
  padding: 5px 7px;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

button:hover {
  background-color: var(--theme-color);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

button:active {
  background-color: var(--theme-color-dark);
}

span {
  margin-left: 5px;
}
